csscompressor
Django>=3.0.14,<4.0.0
django-compressor
elasticsearch>=5.0.0,<6.0.0
elasticsearch-dsl>=5.0.0,<6.0.0
gunicorn
martor
misaka
Pillow
psycopg2-binary
Pygments
pylibmc
rcssmin
rjsmin
sorl-thumbnail
