{% load thumbnail %}

<div class="river-post">
	<div class="river-img-wrapper">
		<a href="{% url 'article' article.slug %}">
		{% thumbnail article.img "210x120" crop="noop" quality=80 as img %}
			<div class="river-img" style="background-image: url('{{ img.url }}');"></div>
		{% endthumbnail %}
		</a>
	</div>

	<header class="river-header">
		<a href="{% url 'article' article.slug %}">
			<h2>{{ article.title }}</h2>
		</a>

		<div class="river-byline">
			{% include "_byline.html" %}
		</div>
	</header>
</div>
