{% extends "__base.html" %}
{% block body %}

<div class="pure-g sheet">
	<div class="pure-u-1 pure-u-lg-3-4 content">
		<header class="list-hero">
			<h1>Hakkında</h1>
			<i>e-bergi nedir?</i>
		</header>
		<div class="article-text">
		<p>
		e-bergi, ODTÜ Bilgisayar Topluluğu olarak hazırladığımız bir
		bilgisayar dergisidir. Amacımız bilgisayar bilimleri ve uygulama alanları
		hakkında detaylı bilgi sahibi olmayan insanlara kaliteli Türkçe içerik
		sağlamaktır. İlk sayımız 1 Nisan 2007'de yayınlanmıştır. e-bergi
		Aralık 2017'den sonra dergi yerine blog formatında yayınlanmaya başlamıştır.
		</p>
		<p>
		e-bergi'deki yazılar topluluk üyelerimiz tarafından yazılmaktadır. Ancak
		dergimiz misafir yazarların yazılarını da kabul etmektedir. Siz de
		bizimle bilgilerinizi paylaşmak isterseniz yazı taslaklarınızı bize
		gönderebilirsiniz. Göndereceğiniz yazıların daha önce herhangi bir
		kaynakta yayınlanmamış olması gerekir.
		</p>
		<h1>e-bergi adı nereden geliyor?</h1>
		<p>
		İngilizce'deki "compute" teriminin Türkçe'de tam bir karşılığı
		yoktur. Bu eksikliği gidermek amacıyla, ODTÜ Bilgisayar Mühendisliği
		öğretim görevlileri tarafından yeni bir Türkçe kök kullanılmaya
		başlanmıştır. "bermek" olarak düşünülen bu sözcüğün <a
		href="http://user.ceng.metu.edu.tr/~ucoluk/yazin/berimsel_bir_deneme.html">çıkış
		öyküsü</a> ilk olarak Şubat 1998'de ODTÜ Bilgisayar Topluluğu
		Bülteni'nde yayınlanmıştır. "e-bergi" adı "bermek" kökünden
		türetilmiştir. Dergimize bu ismi seçmemizin nedenlerinden biri de "e-dergi"
		sözcüğünü çağrıştırmasıdır.
		</p>
		<h1>Yazıların lisansı</h1>
		<p>
		Yazılarımız <a href="https://creativecommons.org/licenses/by-nc/3.0/">CC-BY-NC
		3.0</a> lisansı ile korunmaktadır. e-bergi'de bulunan yazıları kaynak
		göstermek koşuluyla ve kâr amacı gütmeden kullanabilirsiniz.
		</p>
		<h1>Bize destek olmak ister misiniz?</h1>
		<p>Yazılarımızı kâr amacı gütmeden yazıyoruz. Ancak ODTÜ Bilgisayar Topluluğu (Computer Club) olarak düzenlediğimiz etkinliklere destek olabilirsiniz. Her türlü sponsorluk ve iş birliği fikrine açığız. Bize mail adresimizden ulaşabilirsiniz. <br><img src="cclub.png"></p>
{% comment %}
XXX: Come out of the closet when you are ready.
		<h1>Kaynak kodu</h1>
		<p>
		e-bergi'nin kaynak kodu MIT lisansı altında açıktır. <a href="https://github.com/duck2/bergi">https://github.com/duck2/bergi</a> adresinden koda ulaşabilirsiniz.
		</p>
{% endcomment %}
		</div>
	</div>
	<div class="pure-u-1 pure-u-lg-1-4 aside">
	</div>
</div>

{% endblock body %}
