{% extends "__base.html" %}
{% block body %}

{% load goodies %}
{% load thumbnail %}

<div class="sheet">
	<div class="content article">
		<header class="article-hero">
			<h1>{{ article.title }}</h1>
			<div class="article-byline">{% include "_byline.html" %}</div>
		</header>

		<div class="article-img" style="background-image:url('{{ article.img.url }}')"></div>

		<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
			<a class="a2a_button a2a_button_facebook"></a>
			<a class="a2a_button a2a_button_twitter"></a>
			<a class="a2a_button a2a_button_reddit"></a>
			<a class="a2a_button a2a_button_email"></a>
			<a class="a2a_button a2a_button_whatsapp"></a>
			<a class="a2a_button a2a_button_telegram"></a>
		</div>

		<div class="article-text">{{ article.content | markdown | safe }}</div>

		<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
			<a class="a2a_button a2a_button_facebook"></a>
			<a class="a2a_button a2a_button_twitter"></a>
			<a class="a2a_button a2a_button_reddit"></a>
			<a class="a2a_button a2a_button_email"></a>
			<a class="a2a_button a2a_button_whatsapp"></a>
			<a class="a2a_button a2a_button_telegram"></a>
		</div>

		<div class="article-tail">
			{% for r_article in recommends %}
				{% thumbnail r_article.img "210x120" crop="noop" quality=80 as r_img %}
					<div class="article-tail-post" style="background-image: url('{{ r_img.url }}')">
						<a href="{% url 'article' r_article.slug %}">
							<header class="article-tail-title"><h6>{{ r_article.title }}</h6></header>
						</a>
					</div>
				{% endthumbnail %}

			{% endfor %}
		</div>
	</div>


	<div class="aside article-aside">
		<header class="aside-hero">
			<h1>Önerilenler</h1>
		</header>

		{% for r_article in recommends %}
			{% include "_aside_post.html" with article=r_article %}
		{% endfor %}
	</div>

	<script async defer src="https://static.addtoany.com/menu/page.js"></script>
</div>

{% endblock body %}
