{% extends "__base.html" %}
{% block body %}

<div class="pure-g cover">
	<div class="pure-u-1 pure-u-md-2-3 cover-col cover-block">
		{% include "_cover_post.html" with article=articles.0 %}
	</div>

	<div class="pure-u-1 pure-u-md-1-3 cover-col">
		<div class="cover-block">
			{% include "_cover_post.html" with article=articles.1 %}
		</div>
		<div class="cover-block">
			{% include "_cover_post.html" with article=articles.2 %}
		</div>
	</div>
</div>

<div class="pure-g swallow">
	<div class="pure-u-1 pure-u-lg-17-24 river">
	{% for article in articles %}
		{% include "_river_post.html" with article=article %}
	{% endfor %}
	</div>

	<div class="pure-u-1 pure-u-lg-7-24 aside">
		<header>Çok okunanlar</header>
		<ol>
	{% for article in articles_pop %}
		<li class="aside-post"><a href="{% url "article" article.slug %}">{{ article.title }}</a></li>
	{% endfor %}
		</ol>
	</div>
</div>

{% endblock body %}
