{% extends "__base.html" %}

{% block body %}


<div class="cover">
	<div class="cover-left">
		{% if cover|length > 0 %}
			{% include "_cover_post.html" with article=cover.0 %}
		{% endif %}
	</div>
	<div class="cover-right">
		{% if cover|length > 1 %}
			{% include "_cover_post.html" with article=cover.1 %}
		{% endif %}
		{% if cover|length > 2 %}
			{% include "_cover_post.html" with article=cover.2 %}
		{% endif %}
	</div>
</div>

<div class="sheet">
	<div class="content river">
		{% for article in river %}
		{% include "_river_post.html" with article=article %}
		{% endfor %}
		<a class="load-more" href="{% url 'archive' 1 %}">Daha fazla...</a>
	</div>

	<div class="aside river-aside">
		<header class="aside-hero">
			<h1>Çok okunanlar</h1>
		</header>
		{% for article in pop %}
		{% include "_aside_post.html" with article=article %}
		{% endfor %}
	</div>
</div>
</div>

{% endblock body %}