{% extends "_bergi/__base.html" %}
{% block body %}

<div class="pure-g sheet">
	<div class="pure-u-1 pure-u-lg-2-3 content author">
		<div class="author-hero">
			<div class="author-img" style="background-image:url('{{ author.img.url }}')"></div>
			<header>
				<h1>{{ author.name }}</h1>
			</header>
		</div>
		<div class="author-bio">{{ author.bio }}</div>
		<div class="author-posts">
		<header><h1>Yazılar</h1></header>
{% for article in author_articles %}
			{% include "_bergi/_river_post.html" with article=article %}
{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
