html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: #7288e1;
}

html, body {
	margin: 0; padding: 0;
	height: 100%;
	background-color: #eee;
	font-family: Helvetica, sans-serif;
}

/* like $height=45px */
nav {
	background-color: #000;
	max-height: 45px;
	color: #ddd;
	top: 0;
	transition: max-height 0.5s ease;
}
.nav * {
	display: inline-block;
	line-height: 45px;
	vertical-align: bottom!important;
}
.nav a:hover {
	color: #fff;
}
.logo {
	height: 25px;
	padding: 10px;
}
.nav-menu {
	float: right;
}
.nav-menu li {
	padding: 0 8px;
}
.dropsy {
	position: relative;
}
.dropsy > ul {
	display: none;
	background-color: #000;
	position: absolute;
	left: -2px;
	z-index: 1;
}
.dropsy:hover > ul {
	display: block;
}
.ingsoc {
	border-left: 1px solid #444;
	margin-left: 8px;
}
.ingsoc > * {
	padding: 0 8px;
}
a.fb:hover {
	color: #3b5998;
}
a.tw:hover {
	color: #1da1f2;
}
.btn-toggle {
	float: right;
	margin-right: 16px;
	display: none;
}
.mobile-unpacked {
	display: none;
}
@media screen and (max-width: 767px){
	.dropsy {
		display: none;
	}
	.btn-toggle {
		display: initial;
	}
	.mobile-unpacked {
		display: initial;
	}
	.nav {
		overflow: hidden;
	}
	.nav-menu {
		width: 100%;
		border-top: 1px solid #444;
	}
	.nav-menu li {
		width: 100%;
	}
	.ingsoc {
		border: 0;
		margin-left: -4px;
	}
}

.cover {
	height: 60vh;
	padding-right: 4px;
	padding-bottom: 16px;
}
.cover-col {
	height: 100%!important;
}
.cover-block {
	height: 50%;
	padding: 4px 0 0 4px;
	box-sizing: border-box;
}
.cover-post {
	height: 100%; width: 100%;
	position: relative;
	background-size: cover;
	background-position: center center;
}
.cover-gradient {
	height: 100%; width: 100%;
	position: absolute;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), black);
}
.cover-header {
	position: absolute;
	box-sizing: border-box;
	bottom: 10%; left: 12px; right: 12px;
}
.cover-header h2 {
	color: #fff;
	font-family: sans-serif;
	font-size: 30px;
}
.cover-byline ul {
	color: #ccc;
	font-size: 14px;
	padding: 8px;
}
.cover-byline li {
	float: left;
}
.cover-byline li + li:before {
	content: "|";
	margin: 4px;
}
@media screen and (max-width: 767px){
	.cover {
		height: 90vh;
	}
	.cover-block {
		max-height: 30vh;
	}
	.cover-header h2 {
		font-size: 20px;
	}
}

.swallow {
	max-width: 1024px;
	padding: 0 4px;
	margin: auto;
}
.river-post {
	border-top: 1px solid #ccc;
	margin-right: 16px;
}
.river-img {
	width: 100%;
	padding-bottom: 56.25%;
	background-size: cover;
	margin-bottom: 8px;
}
.river-header {
	box-sizing: border-box;
	padding: 12px;
}
.river-header h2 {
	font-size: 20px;
	margin-bottom: 8px;
}
.river-byline {
	font-size: 14px;
	color: #555;
}
.river-byline li {
	float: left;
}
.river-byline li + li:before {
	content: "|";
	margin: 4px;
}
.river-byline a {
	color: #92a8d1;
}
@media screen and (max-width: 767px){
	.river-post {
		padding: 8px 0;
	}
	.river-header h2 {
		font-size: 18px;
	}
	.river-img {
		padding-bottom: 66.6667%;
	}
}

.aside header {
	border-top: 4px solid #92a8d1;
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	text-align: center;
	padding: 8px 0;
	margin-top: 16px;
}
.aside ol {
	padding: 8px 16px;
}
.aside li {
	padding: 8px 0;
	border-bottom: 1px solid #ccc;
	font-size: 15px;
}
@media screen and (max-width: 1023px){
	.aside {
		display: none;
	}
}
